<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/site.css"/>
    <title>MyCosts</title>
    <link rel="icon" type="image/png" href="/images/favicon.ico"/>
    <meta name="keywords" content="Finances" />
    <meta name="description" content="Finances" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script th:inline="javascript">
        var frontendData = [[${frontendData}]];
    </script>
</head>
<body>
<header>
    <nav>
        <a href="/" class="navEl">Main</a>
        <a href="/home" class="navEl navActive">Costs</a>
        <a href="/accounts" class="navEl">Accounts</a>
        <a href="/categories" class="navEl">Categories</a>
        <div id="log"></div>
    </nav>
</header>
<main>
    <p><input name="costs" type="radio" value="account">By accounts</p>
    <p><input name="costs" type="radio" value="category">By categories</p>
    <button onclick="addCost();" id="addCat">Add cost</button>
    <div>
        <input type="date">
        <select>
            <option>Tinkoff</option>
            <option>Sber</option>
        </select>
        <select>
            <option>Food</option>
            <option>Health</option>
        </select>
        <input placeholder="amount">
        <button id="addCatBtn" autocomplete='off' disabled="true">Add</button>
        <button onclick="cancelAddingCategory();">Cancel</button>
    </div>
</main>
<footer>2021, MyCosts</footer>
<!-- <script src="/js/weather.js"></script> -->
</body>
</html>