<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/site.css"/>
    <title>MyCosts</title>
    <link rel="icon" type="image/png" href="../static/images/favicon.ico"/>
    <meta name="keywords" content="Finances" />
    <meta name="description" content="Finances" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <nav>
        <a href="/" class="navEl">Main</a>
        <a href="/login" class="navEl">Sign in</a>
        <a href="/registration" class="navEl">Sign up</a>
    </nav>
</header>
<main>
    <h2 class="sectionName">Why MyCosts?</h2>
    Easy peasy lemon squeezy, manage your finances!
    <div class="card">
        <p>it is cool</p>
    </div>
    <div class="card">
        <p>we are cool</p>
    </div>
</main>
<footer>2021, MyCosts</footer>
<script src="/js/index.js"></script>
</body>
</html>