<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="utf-8" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>MyCosts</title>
    <link rel="icon" type="image/png" href="/images/favicon.ico"/>
    <meta name="keywords" content="Finances" />
    <meta name="description" content="Finances" />
    <script th:inline="javascript">
        var frontendData = [[${frontendData}]];
    </script>
</head>
<body style=" min-height: 100%; display: flex;
	flex-direction: column; background: #F4F5F5;">
<header>
    <div id="head"></div>
</header>
<footer style="flex: 0 0 auto;">
    <div id="foot"></div>
</footer>
<script th:src="${isDevMode} ? 'http://localhost:8000/main.js' : '/js/main.js'"></script>
</body>
</html>