<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/site.css"/>
    <title>MyCosts</title>
    <link rel="icon" type="image/png" href="/favicon.ico"/>
    <meta name="keywords" content="Finances" />
    <meta name="description" content="Finances" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{{#message}}
    {{message}}
{{/message}}
<h2>Registration</h2>
<form action="/registration" method="post">
    <div><label> User Name : <input type="text" name="name"/> </label></div>
    <div><label> User Email : <input type="text" name="email"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Sign Up"/></div>
</form>
<button><a href="/">Return</a></button>
<script src="/js/registration.js"></script>
</body>
</html>