<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/site.css"/>
    <title>MyCosts</title>
    <link rel="icon" type="image/png" href="/images/favicon.ico"/>
    <meta name="keywords" content="Finances" />
    <meta name="description" content="Finances" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

    <nav>
        <a href="/home" class="navEl">Home</a>
        <a href="/accounts" class="navEl">Accounts</a>
        <a href="/categories" class="navEl">Categories</a>
        <a href="/userdetails" class="navEl navActive">My info</a>
    </nav>
</header>
<main>
    <h2>Here you can manage your info</h2>
    <span>
        <p>Name</p>
        <button>Edit</button>
    </span>
    <div>
        <input placeholder="new name">
        <button disabled="true">Change</button>
        <button>Cancel</button>
    </div>
    <span>
        <p>Email</p>
        <button>Edit</button>
    </span>
    <div>
        <input placeholder="new email">
        <button disabled="true">Change</button>
        <button>Cancel</button>
    </div>
    <span>
        <p>Password</p>
        <button>Edit</button>
    </span>
    <div>
        <input placeholder="current password">
        <input placeholder="new password" >
        <input placeholder="repeat password" >
        <button disabled="true">Change</button>
        <button>Cancel</button>
    </div>
</main>
<footer>2021, MyCosts</footer>
<!-- <script src="/js/weather.js"></script> -->
</body>
</html>